#title{
  background-color: #856CBB;
}

/* Navbar */
.navcss{

  margin: 0 auto 5%;
}

.nav-text{
  font-family: 'Righteous', cursive;
}

/* Title */
.title{
  color: #fff;
  width: 80%;
  margin: 30px auto;
  padding-bottom: 5%;
}

.title-text{
  padding: 10% 0;
  text-align: justify;
}

.title-pic-container{
  text-align: center;
  margin: auto 0;
}

.title-pic{
  width: 70%;
  color: #fff;

}

h1{
  font-family: 'Righteous', cursive;
}

p{
  padding: 10% 0;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 1.2rem;
}

/* Symptoms */

#symptoms{
  margin: 10% 0;
}

.symptom-box{
  width: 80%;
  margin: 7% auto;
  text-align: center;
}

.symptom-row{
  padding: 10%;
}

h3{
  font-family: 'Baloo Paaji 2', cursive;
}

.symptom-img{
  width: 40%;
}

.symptom-col{
  margin: auto 0;
}

.symptom-text{
  padding: 2% 0;
  text-align: justify;
}

/* Links */
#links{
  background-color: #A4C5C6;
}
.link-box{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5% 0;
}

.link-heading{
  padding: 3%;
}

.switch{
  margin: 3%;
}

/* Footer */
#footer{
  text-align: center;
}

.footer-text{
  padding: 5% 0 1%;
}


/* How to protect yourself page */
.protect-body{

}

#measures{
  background-color: #856CBB;
  color: #fff;
  padding-bottom: 5%;
}

.measures-heading{
  padding-top: 10%;
  padding-bottom: 10%;
}

.measures-img{
  width: 30%;
}

.measures{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.row-box{
  padding: 5%;
}

row-heading{

}
.col-con{
  text-align: center;
}
