#title{
  background-color: #856CBB;
}

/* Navbar */
.navcss{

  margin: 0 auto 5%;
}

.nav-text{
  font-family: 'Righteous', cursive;
}

/* Title */
.title{
  color: #fff;
  width: 80%;
  margin: 30px auto;
  padding-bottom: 5%;
}

.title-text{
  padding: 10% 0;
  text-align: justify;
}

.title-pic-container{
  text-align: center;
  margin: auto 0;
}

.title-pic{
  width: 70%;
  color: #fff;

}

h1{
  font-family: 'Righteous', cursive;
}

p{
  padding: 10% 0;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 1.2rem;
}

/* Symptoms */

#symptoms{
  margin: 7% 0;
}

.symptom-box{
  width: 80%;
  margin: 7% auto;
  text-align: center;
}

.symptom-row{
  padding: 3%;
}

h3{
  font-family: 'Baloo Paaji 2', cursive;
}

.symptom-img{
  width: 30%;
}

.symptom-col{
  margin: auto 0;
}

.symptom-text{
  padding: 2% 0;
}
